<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | ere.health</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main-style.css">
</head>
<body class="print-page">  

    <div class="main-content-wrapper">
        <header class="header-wrapper">

            <div class="header">
                <div class="logo">
                    <a href="/html"><img src="../assets/images/ere.health-logo.svg" alt="Taleclinic Logo"></a>
                </div>

                <div class="unsigned-prescription">
                    <p>Unsignierte Rezepte</p>
                    <div class="unsignierte-list">
                        <div class="file"><img src="../assets/images/file.png" alt="file"><p>Keine Rezepte vorhanden.</p></div>
                    </div>
                </div>

                <div class="generated-pdf">

                    <p>Erzeugte PDF’s</p>
                    <div class="generated-list">
                        <button> <img src="../assets/images/tik-.svg"> Isabella Bowers</button>
                        <button> <img src="../assets/images/tik-.svg"> Joseph Rosch</button>
                        <button> <img src="../assets/images/tik-.svg"> Sigrid Maria Juliane von Ros ...</button>
                        <button> <img src="../assets/images/tik-.svg"> Joy Heather</button>
                        <button> <img src="../assets/images/tik-.svg"> Mathias Robben</button>
                    </div>
                </div>

                <div class="jetzt-area">
                    <p> <img src="../assets/images/arrow-down.svg" alt=""> Rezepte signieren und für Patienten direkt ausstellen.</p>
                    <button data-modal-target="#modal" class="jet-btn btn-inactive" disabled="disabled">Jetzt alle Rezepte signieren</button>
                </div>
            </div>

        </header>

        
        <section class="recipe-body">

            <div class="print-wrapper">
                <img src="../assets/images/print.svg" alt="print">
                <h3>Keine Rezepte zum signieren vorhanden. </h3>
                <p>Bitte drucken Sie neue Rezepte in ihrem PVS.</p>
            </div>

        </section> <!-- / Each patient items wrapper -->

        <section class="popup">
            <div class="modal" id="modal">
                <div class="modal-title">
                    <p>Bitte legen Sie jetzt Ihren <strong>digitalen Arztausweis auf das Kartenlesegerät</strong> und geben Sie ihre Pin ein.</p>
                </div>
                <div class="modal-image"><img src="../assets/images/popup-icon.png" alt="popup"></div>
                <div class="modal-buttons">
                    <button data-close-button class="cancel">Abbrechen</button>
                    <button data-modal-target-processing="#processing" class="ok-next">Ok, Weiter</button>
                </div>
            </div>

            <div class="modal" id="processing">
                <div class="modal-title">
                    <p>Arztausweis erkannt. <strong>Rezepte werden erzeugt. </strong>Bitte warten.</p>
                </div>
                <div class="modal-image"><img src="../assets/images/popup-icon2.png" alt="popup"></div>
                <div class="modal-buttons">
                    <button data-modal-target-fatig="#fatig" class="grow-in-wealth">Bitte warten</button>
                </div>
            </div>

            <div class="modal" id="fatig">
                <div class="modal-title">
                    <p>Rezept erzeugt und <strong>an Patient versandt</strong></p>
                </div>
                <div class="modal-image"><img src="../assets/images/popup-icon3.png" alt="popup"></div>
                <div class="modal-buttons">
                    <a href="./print.html" class="grow-in-wealth"> Fertig</a>
                </div>
            </div>
            <div id="overlay"></div>
        </section>

    </div>
    
    <script src="../assets/js/main-scripts.js"></script>
</body>
</html>