<!-- serve this test page by:
  start terminal from project folder ere-ps-app
  > CD src/main/resources/META-INF/resources/frontend
  > python3 -m http.server 9000
  in Google Chrome start this page: http://localhost:9000/app/src/components/medication/test/compounding.html 
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ere.health E-Rezept signieren, hinterlegen und drucken</title>
    <link rel="stylesheet" href="../../../assets/css/main-style.css">
    <script src="../../../libs/reconnecting-websocket.js"></script>
    
</head>
<body class="home-page">
  <medication-popup>
  <script type="module" src="../../../init.js"></script>
  <script type="module">
    import "../boundary/MedicationItemPopup.js";
    import { openMedicationPopup } from "../control/MedicationItemControl.js";
    import { MedicationItemTypeCompounding } from "../MedicationItemType.js";

    openMedicationPopup(
      MedicationItemTypeCompounding.buildFHIR({
        uuid:          '619ad8c5-bc4b-4841-8a13-4162f51c06e7', 
        packagingText: 'Deo-Roller',
        typeText:      'Viskose Aluminiumchlorid-Hexahydrat-Lösung 20 % (NRF 11.132.)',
        formText:      'Gel',
        amountNumeratorValue: 100,
        amountNumeratorUnit:  'ml',
        amountDenominatorValue: 1,
        ingredients: [
          {itemCode:'10206346', itemText:'Aluminiumchlorid-Hexahydrat', formText:null,     strengthText:null, numeratorValue:20, numeratorUnit:'g', denominatorValue:1},
          {itemCode: null,      itemText:'Hydroxyethylcellulose 250',   formText:'Pulver', strengthText:null, numeratorValue:2,  numeratorUnit:'g', denominatorValue:1},
          {itemCode: null,      itemText:'Gereinigtes Wasser',          formText:null,     strengthText:'Ad 100 g', numeratorValue:null,  numeratorUnit:null, denominatorValue:null},
        ]
      })
    );
  </script>
</body>
</html>
