<!-- serve this test page by:
  start terminal from project folder ere-ps-app
  > CD src/main/resources/META-INF/resources/frontend
  > python3 -m http.server 9000
  in Google Chrome start this page: http://localhost:9000/app/src/components/medication/test/freetext.html 
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ere.health E-Rezept signieren, hinterlegen und drucken</title>
    <link rel="stylesheet" href="../../../assets/css/main-style.css">
    <script src="../../../libs/reconnecting-websocket.js"></script>
    
</head>
<body class="home-page">
  <medication-popup>
  <script type="module" src="../../../init.js"></script>
  <script type="module">
    import "../boundary/MedicationItemPopup.js";
    import { openMedicationPopup } from "../control/MedicationItemControl.js";
    import { MedicationItemTypeFreeText } from "../MedicationItemType.js";

    openMedicationPopup(
      MedicationItemTypeFreeText.buildFHIR({
        uuid: '0d93504e-c6a7-47c1-8ad5-b0c5cf1b8920',
        medicationText: 'Metformin 850mg Tabletten N3'
      })
    );    
  </script>
</body>
</html>
