<!-- serve this test page by:
  start terminal from project folder ere-ps-app
  > CD src/main/resources/META-INF/resources/frontend
  > python3 -m http.server 9000
  in Google Chrome start this page: http://localhost:9000/app/src/components/medication/test/ingredient.html 
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ere.health E-Rezept signieren, hinterlegen und drucken</title>
    <link rel="stylesheet" href="../../../assets/css/main-style.css">
    <script src="../../../libs/reconnecting-websocket.js"></script>
    
</head>
<body class="home-page">
  <medication-popup>
  <script type="module" src="../../../init.js"></script>
  <script type="module">
    import "../boundary/MedicationItemPopup.js";
    import { openMedicationPopup } from "../control/MedicationItemControl.js";
    import { MedicationItemTypeIngredient } from "../MedicationItemType.js";

    openMedicationPopup(
      MedicationItemTypeIngredient.buildFHIR({
        uuid: '255b49de-6cd5-4ac1-b6fb-c8d0128cf1b3', 
        normgroesseCode: 'N3',
        formText: 'Tabletten',
        ingredients: [{itemCode:'23816', itemText:'Simvastatin', ingredientForm:null, strengthText:null, numeratorValue:20, numeratorUnit:'mg', denominatorValue:1}]
      })
    );    
  </script>
</body>
</html>
