<!-- get instant update of webpage upon changes: -->
<!-- python3 -m http.server 9000 -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ere.health E-Rezept signieren, hinterlegen und drucken</title>
    <link rel="stylesheet" href="../../../assets/css/main-style.css">
    <script src="../../../libs/reconnecting-websocket.js"></script>
    
</head>
<body class="home-page">
  <medication-popup>
  <script src="../../../init.js"></script>
  <script src="init.js" type="module"></script>
</body>
</html>