<!-- serve this test page by:
  start terminal from project folder ere-ps-app
  > cd src/main/resources/META-INF/resources/frontend
  > python3 -m http.server 9000
  in Google Chrome start this page: http://localhost:9000/app/src/components/popup/test/compounding.html 
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ere.health E-Rezept signieren, hinterlegen und drucken</title>
    <link rel="stylesheet" href="../../../assets/css/main-style.css">
    <script src="../../../libs/reconnecting-websocket.js"></script>
    <script src="../../../libs/validator.js"></script>
</head>
<body class="home-page">
  <div id="error-messages"></div>
  <medicament-edit-popup>
  <script type="module" src="../../../init.js"></script>
  <script type="module">
    import "../boundary/MedicamentEditPopup.js";
    import { showPopupEditMedikament, initPopupEditMedikament } from "../control/PopupControl.js";
    import { MedicamentProfile } from "../boundary/MedicamentProfile.js";
    showPopupEditMedikament(-1);
    initPopupEditMedikament({
        index:           -1,
        profile:       'Compounding',
        uuid:          '619ad8c5-bc4b-4841-8a13-4162f51c06e7', 
        packagingText: 'Deo-Roller',
        typeText:      'Viskose Aluminiumchlorid-Hexahydrat-Lösung 20 % (NRF 11.132.)',
        formText:      'Gel',
        amountNumeratorValue: 100,
        amountNumeratorUnit:  'ml',
        amountDenominatorValue: 1,
        ingredients: [
          {pznCode:'10206346', medicationText:'Aluminiumchlorid-Hexahydrat', formText:null,     amountText:null, numeratorValue:20, numeratorUnit:'g', denominatorValue:1},
          {pznCode: null,      medicationText:'Hydroxyethylcellulose 250',   formText:'Pulver', amountText:null, numeratorValue:2,  numeratorUnit:'g', denominatorValue:1},
          {pznCode: null,      medicationText:'Gereinigtes Wasser',          formText:null,     amountText:'Ad 100 g', numeratorValue:null,  numeratorUnit:null, denominatorValue:null},
        ],
        dispenseQuantity:  9,
        dosageInstruction: '1mal',
    });
  </script>
</body>
</html>
